<div class="content">

    <mat-card *ngIf="identityService.identity$">
        <form [formGroup]="form">
            <mat-card-header>
                <img mat-card-avatar class="mat-list-avatar-large" [src]="identityService.getImage(identityContainer.content.image)">

                <mat-card-title *ngIf="formName">{{formName}} <span *ngIf="formAlias">| @{{formAlias}}</span></mat-card-title>
                <mat-card-title *ngIf="!formName">{{identityContainer.content.identifier}} <span *ngIf="formAlias">| @{{formAlias}}</span></mat-card-title>

                <mat-card-subtitle>{{formTitle}}<br>ID: {{identityContainer.content.identifier}}<br>Index: {{identityContainer.index}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>

                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput id="nameInput" formControlName="name" name="name" placeholder="Name of your identity.">
                    <mat-icon matSuffix>face</mat-icon>
                    <mat-error *ngIf="formErrors.name">
                        {{ formErrors.name }}
                    </mat-error>
                </mat-form-field>

                <br>

                <mat-form-field appearance="outline">
                    <mat-label>Short Name</mat-label>
                    <input matInput id="shortnameInput" maxlength="30" formControlName="shortname" name="shortname" placeholder="Short version of your full name">
                    <mat-icon matSuffix>face</mat-icon>
                    <mat-error *ngIf="formErrors.shortname">
                        {{ formErrors.shortname }}
                    </mat-error>
                </mat-form-field>

                <br>

                <mat-form-field appearance="outline">
                    <mat-label>Image (URL)</mat-label>
                    <input matInput id="imageInput" maxlength="2000" formControlName="image" name="image" placeholder="Url to your profile image">
                    <mat-icon matSuffix>image</mat-icon>
                    <mat-error *ngIf="formErrors.image">
                        {{ formErrors.image }}
                    </mat-error>
                </mat-form-field>

                <!-- This amazing image cropper must be used with an API that allows us to upload binaries. We could also use the hub to store the profile image in the future. -->
                <!-- <app-image-cropper (imageUpdated)="imageUpdated($event)" [showPreview]="false"></app-image-cropper> -->

                <br>

                <mat-form-field appearance="outline">
                    <mat-label>Alias (nickname)</mat-label>
                    <input matInput id="aliasInput" formControlName="alias" name="alias" placeholder="Alias of your identity">
                    <mat-icon matSuffix>font_download</mat-icon>
                    <mat-error *ngIf="formErrors.alias">
                        {{ formErrors.alias }}
                    </mat-error>
                </mat-form-field>

                <br>

                <mat-form-field appearance="outline">
                    <mat-label>Title</mat-label>
                    <input matInput id="titleInput" formControlName="title" name="title" placeholder="Title of your identity.">
                    <mat-icon matSuffix>book</mat-icon>
                    <mat-error *ngIf="formErrors.title">
                        {{ formErrors.title }}
                    </mat-error>
                </mat-form-field>

                <br>

                <mat-form-field appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input matInput id="emailInput" formControlName="email" name="email" placeholder="Your public e-mail address.">
                    <mat-icon matSuffix>mail</mat-icon>
                    <mat-error *ngIf="formErrors.email">
                        {{ formErrors.email }}
                    </mat-error>
                </mat-form-field>

                <br>

                <mat-form-field appearance="outline">
                    <mat-label>Url</mat-label>
                    <input matInput id="urlInput" formControlName="url" name="url" placeholder="Your public URL.">
                    <mat-icon matSuffix>link</mat-icon>
                    <mat-error *ngIf="formErrors.url">
                        {{ formErrors.url }}
                    </mat-error>
                </mat-form-field>

                <br>

                <!-- <button mat-mini-fab class="add-link" (click)="addLink()">
                    <mat-icon>add</mat-icon>
                </button>
                <br>

                <mat-list>
                    <h3 mat-subheader>Links</h3>

                    <mat-list-item *ngFor="let link of identity.links">
                        <mat-icon mat-list-icon>link</mat-icon>
                        <h4 mat-line>{{link.url}}</h4>
                        <p mat-line>Type: {{link.type}}</p>
                        <p><button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="removeLink(link)">
                                    <mat-icon>delete</mat-icon>
                                    <span>Remove link</span>
                                </button>
                            </mat-menu>
                        </p>
                    </mat-list-item>
                </mat-list> -->

                <br>

                <!-- <mat-form-field appearance="outline">
                    <mat-label>Identity Recovery Public Key</mat-label>
                    <input matInput id="restoreKeyInput" formControlName="restorekey" name="restorekey" placeholder="Your identity restore public key.">
                    <mat-icon matSuffix>security</mat-icon>
                    <mat-error *ngIf="formErrors.restorekey">
                        {{ formErrors.restorekey }}
                    </mat-error>
                </mat-form-field>

                <br> -->

                <!-- <mat-checkbox (change)="onChanged($event)" formControlName="publish" name="publish">Publish Profile</mat-checkbox>
                <br> <br>
                <mat-card class="mat-elevation-z8" *ngIf="publishWarning">This profile was previously published. When you save it, it will be unpublished and only locally available.</mat-card> -->

            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="save()">SAVE</button>
                <button mat-stroked-button (click)="back()">CANCEL</button>
                <button mat-raised-button color="warn" (click)="delete()">DELETE</button>

            </mat-card-actions>
        </form>
    </mat-card>

    <div class="footer">
        <button routerLink="/identity" mat-raised-button>Go back</button>
    </div>

</div>
