<div class="content">
    <app-identity-lookup-widget></app-identity-lookup-widget>

    <br><br>
    <div *ngIf="error">
        <h2>Unable to find identity</h2>
        <p>{{error}}</p>
    </div>

    <mat-card *ngIf="identity">
        <!-- <mat-card-header>
            <img mat-card-avatar class="mat-list-avatar-large" [src]="identityService.getImage(identity.image)">

            <mat-card-title *ngIf="identity.name">{{identity.name}} <span *ngIf="identity.alias">| @{{identity.alias}}</span></mat-card-title>
            <mat-card-title *ngIf="!identity.name">{{identity.identifier}} <span *ngIf="identity.alias">| @{{identity.alias}}</span></mat-card-title>

            <mat-card-subtitle>{{identity.title}}<br>ID: <a href="https://identity.city-chain.org/view/{{identity.identifier}}" target="_blank">{{identity.identifier}}</a><br>Height: {{identity.height}}</mat-card-subtitle>
        </mat-card-header> -->

        <app-identity-badge [identity]="container"></app-identity-badge>

        <mat-card-content>

            <mat-list>
                <div mat-subheader>Details</div>

                <mat-list-item *ngIf="identity.name">
                    <mat-icon mat-list-icon>face</mat-icon>
                    <div mat-line>{{identity.name}}</div>
                    <div mat-line class="mat-card-subtitle">Name</div>
                </mat-list-item>

                <mat-list-item *ngIf="identity.shortname">
                    <mat-icon mat-list-icon>face</mat-icon>
                    <div mat-line>{{identity.shortname}}</div>
                    <div mat-line class="mat-card-subtitle">Short name</div>
                </mat-list-item>

                <mat-list-item *ngIf="identity.alias">
                    <mat-icon mat-list-icon>font_download</mat-icon>
                    <div mat-line>{{identity.alias}}</div>
                    <div mat-line class="mat-card-subtitle">Alias</div>
                </mat-list-item>

                <mat-list-item *ngIf="identity.title">
                    <mat-icon mat-list-icon>book</mat-icon>
                    <div mat-line>{{identity.title}}</div>
                    <div mat-line class="mat-card-subtitle">Title</div>
                </mat-list-item>

                <mat-list-item *ngIf="identity.email">
                    <mat-icon mat-list-icon>mail</mat-icon>
                    <div mat-line>{{identity.email}}</div>
                    <div mat-line class="mat-card-subtitle">E-mail</div>
                </mat-list-item>

                <mat-list-item *ngIf="identity.url">
                    <mat-icon mat-list-icon>link</mat-icon>
                    <div mat-line>{{identity.url}}</div>
                    <div mat-line class="mat-card-subtitle">Url</div>
                </mat-list-item>

                <!-- <mat-list-item>
                    <mat-icon mat-list-icon>cloud_queue</mat-icon>
                    <div mat-line>{{identity.published}}</div>
                    <div mat-line class="mat-card-subtitle">Published</div>
                </mat-list-item> -->

                <!-- <mat-divider></mat-divider> -->

                <!-- <div mat-subheader *ngIf="identity.links && identity.links.length > 0">Links</div>
                <mat-list-item *ngFor="let link of identity.links">
                    <mat-icon mat-list-icon>link</mat-icon>
                    <div mat-line>{{link.url}}</div>
                    <div mat-line class="mat-card-subtitle">{{link.type}}</div>
                </mat-list-item> -->
            </mat-list>

            <!-- <mat-list>
                <h3 mat-subheader>Links</h3>

                <mat-list-item *ngFor="let link of identity.links">
                    <mat-icon mat-list-icon>link</mat-icon>
                    <h4 mat-line>{{link.url}}</h4>
                    <p mat-line>Type: {{link.type}}</p>
                </mat-list-item>
            </mat-list> -->

        </mat-card-content>
        <mat-card-actions>
            <!-- <button mat-raised-button color="primary" [routerLink]="['/identity', identity.id, 'edit']">EDIT</button> -->
            <!-- <button *ngIf="!identity.published" mat-stroked-button color="primary">PUBLISH</button>
            <button *ngIf="identity.published" mat-stroked-button color="primary">UNPUBLISH</button> -->
            <!-- <button mat-raised-button color="warn">DELETE</button> -->
        </mat-card-actions>
    </mat-card>

    <div class="footer">
        <button routerLink="/identity" mat-raised-button>Go back</button>
    </div>

</div>
<!-- <mat-card class="dashboard-card">
    <mat-card-title>Identity Lookup</mat-card-title>
    <mat-card-subtitle>You can lookup any public profile here</mat-card-subtitle>

    <mat-card-content>
        <div class="identity-lookup-container">
            <mat-form-field class="identity-lookup-form-field">
                <input matInput type="text" placeholder="Enter identity id and press lookup." (keyup.enter)="search()" [(ngModel)]="searchInput">
                <button mat-button *ngIf="searchInput" matSuffix mat-icon-button aria-label="Clear" (click)="searchInput=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <button class="identity-lookup-search-button" (click)="lookup()" [disabled]="searchInput.length == 0" mat-stroked-button>Lookup&nbsp;&nbsp;&nbsp;</button>
        </div>
    </mat-card-content>

</mat-card> -->
