<div class="content">

    <mat-card class="example-card" *ngIf="identityService.identity$">
        <mat-card-header>
            <img mat-card-avatar class="mat-list-avatar-large" [src]="image">
            <mat-card-title>{{identity.name}} <span *ngIf="identity.alias">| @{{identity.alias}}</span></mat-card-title>
            <mat-card-subtitle>{{identity.title}}<br>ID: {{identity.id}}<br>Updated: {{identity.time}}</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="assets/profile1.jpg" [src]="image"> -->
        <mat-card-content>

            <mat-list>
                <div mat-subheader>Details</div>

                <mat-list-item>
                    <mat-icon mat-list-icon>face</mat-icon>
                    <div mat-line>{{identity.name}}</div>
                    <div mat-line class="mat-card-subtitle">Name</div>
                </mat-list-item>

                <mat-list-item>
                    <mat-icon mat-list-icon>face</mat-icon>
                    <div mat-line>{{identity.shortname}}</div>
                    <div mat-line class="mat-card-subtitle">Short name</div>
                </mat-list-item>

                <mat-list-item>
                    <mat-icon mat-list-icon>font_download</mat-icon>
                    <div mat-line>{{identity.alias}}</div>
                    <div mat-line class="mat-card-subtitle">Alias</div>
                </mat-list-item>

                <mat-list-item>
                    <mat-icon mat-list-icon>book</mat-icon>
                    <div mat-line>{{identity.title}}</div>
                    <div mat-line class="mat-card-subtitle">Title</div>
                </mat-list-item>

                <mat-list-item>
                    <mat-icon mat-list-icon>mail</mat-icon>
                    <div mat-line>{{identity.email}}</div>
                    <div mat-line class="mat-card-subtitle">E-mail</div>
                </mat-list-item>

                <mat-list-item>
                    <mat-icon mat-list-icon>cloud_queue</mat-icon>
                    <div mat-line>{{identity.published}}</div>
                    <div mat-line class="mat-card-subtitle">Published</div>
                </mat-list-item>

                <mat-divider></mat-divider>
                <div mat-subheader>Links</div>
                <mat-list-item *ngFor="let link of identity.links">
                    <mat-icon mat-list-icon>link</mat-icon>
                    <div mat-line>{{link.url}}</div>
                    <div mat-line class="mat-card-subtitle">{{link.type}}</div>
                </mat-list-item>
            </mat-list>

            <!-- <mat-list>
                <h3 mat-subheader>Links</h3>

                <mat-list-item *ngFor="let link of identity.links">
                    <mat-icon mat-list-icon>link</mat-icon>
                    <h4 mat-line>{{link.url}}</h4>
                    <p mat-line>Type: {{link.type}}</p>
                </mat-list-item>
            </mat-list> -->

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" [routerLink]="['/identity', identity.id, 'edit']">EDIT</button>
            <!-- <button *ngIf="!identity.published" mat-stroked-button color="primary">PUBLISH</button>
            <button *ngIf="identity.published" mat-stroked-button color="primary">UNPUBLISH</button> -->
            <!-- <button mat-raised-button color="warn">DELETE</button> -->
        </mat-card-actions>
    </mat-card>

    <br>

    <div class="network-details-footer">
        <button routerLink="/identity" mat-raised-button>Go back</button>
    </div>

</div>
