@import "~@angular/material/theming";

.identity-lookup {
    margin-bottom: 10px;

    .form-field {
        width: calc(100% - 110px);
    }

    .button {
        width: 90px;
        margin-left: 20px;
    }

    .footer {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
