<div class="content">

    <mat-card *ngIf="identityContainer">
        <form [formGroup]="form">
            <app-identity-badge [identity]="identityContainer"></app-identity-badge>
            <mat-card-content>

                <h2>Identity Private Key</h2>

                <ngx-qrcode cssClass="qr-address" elementType="canvas" [value]="qrString" errorCorrectionLevel="L"></ngx-qrcode>

                <br>

                <p>Private Key: {{qrString}}</p>

                <p>With this QR code you can copy your identity onto your mobile device.</p>

            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" [routerLink]="['/identity', id]">DONE</button>
            </mat-card-actions>
        </form>
    </mat-card>

    <div class="footer">
        <button routerLink="/identity" mat-raised-button>Go back</button>
    </div>

</div>
