<div class="content">
    <app-identity-lookup-widget></app-identity-lookup-widget>

    <br><br>
    <h2>Not implemented yet.</h2>
    <br>
</div>
<!-- <mat-card class="dashboard-card">
    <mat-card-title>Identity Lookup</mat-card-title>
    <mat-card-subtitle>You can lookup any public profile here</mat-card-subtitle>

    <mat-card-content>
        <div class="identity-lookup-container">
            <mat-form-field class="identity-lookup-form-field">
                <input matInput type="text" placeholder="Enter identity id and press lookup." (keyup.enter)="search()" [(ngModel)]="searchInput">
                <button mat-button *ngIf="searchInput" matSuffix mat-icon-button aria-label="Clear" (click)="searchInput=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <button class="identity-lookup-search-button" (click)="lookup()" [disabled]="searchInput.length == 0" mat-stroked-button>Lookup&nbsp;&nbsp;&nbsp;</button>
        </div>
    </mat-card-content>

</mat-card> -->
