<div class="content">

    <mat-card class="example-card" *ngIf="identityService.identity$">
        <form [formGroup]="sendForm">
            <mat-card-header>
                <!-- <div mat-card-avatar class="example-header-image-profile3"></div> -->
                <img mat-card-avatar class="example-header-image-profile3" [src]="image">
                <mat-card-title>{{identity.name}} <span *ngIf="identity.alias">(@{{identity.alias}})</span></mat-card-title>
                <mat-card-subtitle>{{identity.title}}<br>Thumbprint: {{identity.id}}<br>Updated: 2020-01-01 10:00</mat-card-subtitle>
            </mat-card-header>
            <!-- <img mat-card-image src="assets/profile1.jpg"> -->
            <mat-card-content>

                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput id="nameField" formControlName="name" name="name" placeholder="Name of your identity.">
                    <mat-icon matSuffix>face</mat-icon>
                    <mat-error *ngIf="formErrors.name">
                        {{ formErrors.name }}
                    </mat-error>
                </mat-form-field>
                
                <br>

                <app-image-cropper (imageUpdated)="imageUpdated($event)" [showPreview]="false"></app-image-cropper>

                <br>

                <mat-form-field appearance="outline">
                    <mat-label>Alias (nickname)</mat-label>
                    <input matInput id="destinationAddress" formControlName="address" name="address" placeholder="Alias of your identity">
                    <mat-icon matSuffix>font_download</mat-icon>
                    <mat-error *ngIf="formErrors.address">
                        {{ formErrors.address }}
                    </mat-error>
                </mat-form-field>

                <br>

                <mat-form-field appearance="outline">
                    <mat-label>Title</mat-label>
                    <input matInput id="destinationAddress" formControlName="address" name="address" placeholder="Title of your identity.">
                    <mat-icon matSuffix>book</mat-icon>
                    <mat-error *ngIf="formErrors.address">
                        {{ formErrors.address }}
                    </mat-error>
                </mat-form-field>

                <br>

                <mat-form-field appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input matInput id="destinationAddress" formControlName="address" name="address" placeholder="Your public e-mail address.">
                    <mat-icon matSuffix>mail</mat-icon>
                    <mat-error *ngIf="formErrors.address">
                        {{ formErrors.address }}
                    </mat-error>
                </mat-form-field>

                <br>

                <mat-form-field appearance="outline">
                    <mat-label>URL</mat-label>
                    <input matInput id="destinationAddress" formControlName="address" name="address" placeholder="Your public URL.">
                    <mat-icon matSuffix>link</mat-icon>
                    <mat-error *ngIf="formErrors.address">
                        {{ formErrors.address }}
                    </mat-error>
                </mat-form-field>

                <br>

                <mat-form-field appearance="outline">
                    <mat-label>Image</mat-label>
                    <input matInput id="destinationAddress" formControlName="address" name="address" placeholder="Your identity image.">
                    <mat-icon matSuffix>wallpaper</mat-icon>
                    <mat-error *ngIf="formErrors.address">
                        {{ formErrors.address }}
                    </mat-error>
                </mat-form-field>

                <br>

                <mat-form-field appearance="outline">
                    <mat-label>Account Restore Public Key</mat-label>
                    <input matInput id="destinationAddress" formControlName="address" name="address" placeholder="Your identity image.">
                    <mat-icon matSuffix>security</mat-icon>
                    <mat-error *ngIf="formErrors.address">
                        {{ formErrors.address }}
                    </mat-error>
                </mat-form-field>

                <br>



                <br>

            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" routerLink="/identity">SAVE</button>
                <button mat-stroked-button (click)="back()">CANCEL</button>
                <button mat-raised-button color="warn">DELETE</button>


                <!-- <button mat-stroked-button [disabled]="isSending" (click)="cancel()">Cancel</button>&nbsp;
                <button mat-raised-button color="primary" [disabled]="!sendForm.valid || isSending || !estimatedFee" (click)="send()">Send</button>
             -->


            </mat-card-actions>
        </form>
    </mat-card>

    <br>

    <div class="network-details-footer">
        <button routerLink="/identity" mat-raised-button>Go back</button>
    </div>

</div>
