<div class="content">

    <mat-card class="example-card" *ngIf="identityService.identity$">
        <mat-card-header>
            <img mat-card-avatar class="mat-list-avatar-large" [src]="image">
            <mat-card-title>{{identity.name}} <span *ngIf="identity.alias">| @{{identity.alias}}</span></mat-card-title>
            <mat-card-subtitle>{{identity.title}}<br>ID: {{identity.id}}<br>Updated: {{identity.time}}</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="assets/profile1.jpg" [src]="image"> -->
        <mat-card-content>
            <p>
                Short name: {{identity.shortname}}<br>
                E-mail: {{identity.email}}<br>
                Published: {{identity.published}}<br>
            </p>

            <h3 mat-subheader>Links</h3>

            <ul *ngFor="let link of identity.links">
                <li>{{link.type}}: {{link.url}}</li>
            </ul>

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" [routerLink]="['/identity', identity.id, 'edit']">EDIT</button>
            <!-- <button *ngIf="!identity.published" mat-stroked-button color="primary">PUBLISH</button>
            <button *ngIf="identity.published" mat-stroked-button color="primary">UNPUBLISH</button> -->
            <!-- <button mat-raised-button color="warn">DELETE</button> -->
        </mat-card-actions>
    </mat-card>

    <br>

    <div class="network-details-footer">
        <button routerLink="/identity" mat-raised-button>Go back</button>
    </div>

</div>
