<div class="content">

    <mat-card *ngIf="identityService.identity$">
        <app-identity-badge [identity]="identityContainer"></app-identity-badge>
        <mat-card-content>
            <mat-list>

                <mat-list-item *ngIf="identityContainer.content.name">
                    <mat-icon mat-list-icon>face</mat-icon>
                    <div mat-line>{{identityContainer.content.name}}</div>
                    <div mat-line class="mat-card-subtitle">Name</div>
                </mat-list-item>

                <mat-list-item *ngIf="identityContainer.content.shortname">
                    <mat-icon mat-list-icon>face</mat-icon>
                    <div mat-line>{{identityContainer.content.shortname}}</div>
                    <div mat-line class="mat-card-subtitle">Short name</div>
                </mat-list-item>

                <mat-list-item *ngIf="identityContainer.content.alias">
                    <mat-icon mat-list-icon>font_download</mat-icon>
                    <div mat-line>{{identityContainer.content.alias}}</div>
                    <div mat-line class="mat-card-subtitle">Alias</div>
                </mat-list-item>

                <mat-list-item *ngIf="identityContainer.content.title">
                    <mat-icon mat-list-icon>book</mat-icon>
                    <div mat-line>{{identityContainer.content.title}}</div>
                    <div mat-line class="mat-card-subtitle">Title</div>
                </mat-list-item>

                <mat-list-item *ngIf="identityContainer.content.email">
                    <mat-icon mat-list-icon>mail</mat-icon>
                    <div mat-line>{{identityContainer.content.email}}</div>
                    <div mat-line class="mat-card-subtitle">E-mail</div>
                </mat-list-item>

                <mat-list-item *ngIf="identityContainer.content.url">
                    <mat-icon mat-list-icon>link</mat-icon>
                    <div mat-line>{{identityContainer.content.url}}</div>
                    <div mat-line class="mat-card-subtitle">Url</div>
                </mat-list-item>

                <!-- <mat-list-item>
                    <mat-icon mat-list-icon>cloud_queue</mat-icon>
                    <div mat-line>{{identityContainer.published | yesno}}</div>
                    <div mat-line class="mat-card-subtitle">Published</div>
                </mat-list-item> -->

                <p>
                    <ngx-qrcode mat-line cssClass="qr-address" elementType="canvas" [value]="qrString" errorCorrectionLevel="L"></ngx-qrcode>
                </p>
                <!-- <mat-divider></mat-divider> -->

                <!-- <div mat-subheader *ngIf="identity.links && identity.links.length > 0">Links</div>
                <mat-list-item *ngFor="let link of identity.links">
                    <mat-icon mat-list-icon>link</mat-icon>
                    <div mat-line>{{link.url}}</div>
                    <div mat-line class="mat-card-subtitle">{{link.type}}</div>
                </mat-list-item> -->
            </mat-list>

            <!-- <mat-list>
                <h3 mat-subheader>Links</h3>

                <mat-list-item *ngFor="let link of identity.links">
                    <mat-icon mat-list-icon>link</mat-icon>
                    <h4 mat-line>{{link.url}}</h4>
                    <p mat-line>Type: {{link.type}}</p>
                </mat-list-item>
            </mat-list> -->

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" [routerLink]="['/identity', identityContainer.content.identifier, 'edit']">EDIT</button>
            <button mat-raised-button [routerLink]="['/identity', identityContainer.content.identifier, 'unlock']">EXPORT TO PHONE</button>
            <!-- <button *ngIf="!identity.published" mat-stroked-button color="primary">PUBLISH</button>
            <button *ngIf="identity.published" mat-stroked-button color="primary">UNPUBLISH</button> -->
            <!-- <button mat-raised-button color="warn">DELETE</button> -->
        </mat-card-actions>
    </mat-card>

    <div class="footer">
        <button routerLink="/identity" mat-raised-button>Go back</button>
    </div>

</div>
