<div class="splash-container not-selectable">

    <div class="">
        <img src="assets/city-hub/city-hub-dark.png" class="load-logo">
    </div>

    <h2>Advanced Tools</h2>

    <p class="paragraph-margin">If you have problems with City Hub, we have these tools to help investigate and fix potential issues that might occur.</p>

    <p>
        <button mat-stroked-button *ngIf="!appState.isSimpleMode" (click)="openDataFolder()">Open Wallet Folder</button> &nbsp;
        <button mat-stroked-button *ngIf="!appState.isSimpleMode" (click)="resetDatabase()">Reset Blockchain Database</button> &nbsp;
        <br><br>
        <button mat-stroked-button (click)="updateService.checkForUpdate()" [disabled]="updateService.downloading">Check for Update</button> &nbsp;
        <button mat-stroked-button *ngIf="updateService.available" [disabled]="updateService.downloading" (click)="updateService.downloadUpdate()">Download Update</button> &nbsp;
        <button mat-stroked-button *ngIf="updateService.downloaded" (click)="updateService.installUpdate()">Install Update</button>
    </p>

    <p>
        <button routerLink="/login" mat-raised-button color="primary">Go back</button>
    </p>

</div>
