.about {
    .about-card {
        max-width: 600px;
        margin-bottom: 30px;
        padding-top: 20px;
        margin-left: auto;
        margin-right: auto;
      }

      a {
          color: white;
      }

      a:hover {
          color: silver;
      }

      .about-heart {
        max-width: 600px;
        margin-bottom: 20px;
        padding-top: 0px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    
    .about-card .mat-card-image:first-child
    {
        margin-top: -8px;
        margin-left: 0 !important;
        margin-right: 0 !important;

        

    }
    
     .about-nav-title {
        flex: 1 1 auto;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .about-logo {
        margin-left: 10px;
        margin-right: 10px;
        width: calc(100% - 20px);
    }
    
    .about-nav-caret {
        flex: 0 0 auto;
    }
    
    .about-card .mat-stroked-button {
        margin-right: 10px;
        margin-top: 10px;
    }
}
