<div class="content not-selectable">
    <mat-card class="about-card">
        <!-- <img mat-card-image src="" class="about-logo" alt="City Chain"> -->
        <img src="assets/city-hub/city-hub-dark.png" class="about-logo" alt="City Hub">
        <mat-card-header>
            <mat-card-title>Version {{appState.version}}
                <br>Network: {{appState.network}} ({{appState.mode}})</mat-card-title>
            <mat-card-subtitle>City Hub is your hub into the City Chain, and other supported blockchains. City Hub is currently only available in PREVIEW release, use with caution.
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-nav-list>
                <mat-list>
                    <mat-divider></mat-divider>
                    <a mat-list-item routerLink="/changes">
                        <span class="about-nav-title">What's new</span>
                        <mat-icon class="about-nav-caret" color="primary">
                            <svg>
                                <path fill="currentColor" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
                            </svg>
                        </mat-icon>
                    </a>
                    <mat-divider></mat-divider>
                    <a mat-list-item routerLink="/licenses">
                        <span class="about-nav-title">Third party licenses</span>
                        <mat-icon class="about-nav-caret" color="primary">
                            <svg>
                                <path fill="currentColor" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
                            </svg>
                        </mat-icon>
                    </a>
                    <mat-divider></mat-divider>
                    <a mat-list-item routerLink="/privacy">
                        <span class="about-nav-title">Privacy Policy</span>
                        <mat-icon class="about-nav-caret" color="primary">
                            <svg>
                                <path fill="currentColor" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
                            </svg>
                        </mat-icon>
                    </a>
                    <mat-divider></mat-divider>
                </mat-list>
            </mat-nav-list>

            <br>

            <a mat-stroked-button href="https://city-chain.org" target="_blank">City Chain Website</a>
            <a mat-stroked-button href="https://github.com/CityChainFoundation" target="_blank">Source Code</a>

        </mat-card-content>
    </mat-card>
</div>
