<div class="details-content">

    <button mat-mini-fab class="add-node" (click)="addHub()">
        <mat-icon>add</mat-icon>
    </button>

    <mat-list>
        <h3 mat-subheader>Hubs</h3>

        <mat-list-item *ngFor="let hub of hubService.hubs">
            <img mat-list-avatar [src]="identityService.getImage(hub.content.image)">

            <h4 mat-line>{{hub.content.name}} ({{hub.originalUrl}})</h4>
            <p mat-line>ID: <a href="https://identity.city-chain.org/view/{{hub.content.identifier}}" target="_blank">{{hub.content.identifier}}</a></p>
            <p mat-line class="mat-card-subtitle">URL: <a href="{{hub.content.url}}" target="_blank">{{hub.content.url}}</a></p>
            <p mat-line class="mat-card-subtitle">Status: {{hub.status}}</p>
            <p><button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="removeHub(hub.content.identifier)">
                        <mat-icon>delete</mat-icon>
                        <span>Remove hub</span>
                    </button>
                </mat-menu>
            </p>
        </mat-list-item>

        <mat-divider></mat-divider>
        <br>

        <!-- <mat-card class="card">
            <mat-card-header>
                <mat-icon mat-card-avatar>info</mat-icon>
                <mat-card-title>Public Key Verification</mat-card-title>
                <mat-card-subtitle>When you add a hub, you must verify the public key. If the server changes public key, we'll give you a warning and you need to re-approve or change active hub.
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                When you add a hub, you must verify the public key. If the server changes public key, we'll give you a warning and you need to re-approve or change active hub.
            </mat-card-content>
        </mat-card> -->

    </mat-list>

</div>

<div class="network-details-footer">
    <button (click)="back()" mat-raised-button>Go back</button>
</div>
