<div class="content">

    <!-- <mat-card class="settings-card">
        <mat-card-header>
            <mat-icon mat-card-avatar>security</mat-icon>
            <mat-card-title>Security</mat-card-title>
            <mat-card-subtitle>Settings to help you decide between security and simplicity. Security is hard, and it reduces usability. So we
                want you to decide.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

            <div class="settings-row">
                <div>
                    <mat-checkbox class="example-margin" (change)="onChanged($event)" [(ngModel)]="autoLock">Auto-Lock</mat-checkbox>
                </div>
                <div>Auto-Lock will automatically lock your account after 5 minutes. That means you won't be able to perform any
                    transactions again, without supplying your personal password.</div>
            </div>

            <div class="settings-row">
                <div>
                    <mat-checkbox class="example-margin" (change)="onChanged($event)" [(ngModel)]="clearOnExit">Clear on exit</mat-checkbox>
                </div>
                <div>You can clear all data on every exit of the application. This require you to enter your 12-word phrases every
                    time you use the app.</div>
            </div>

        </mat-card-content>
    </mat-card> -->

    <mat-card class="settings-card">
        <mat-card-header>
            <mat-icon mat-card-avatar>mood</mat-icon>
            <mat-card-title>User Experience</mat-card-title>
            <mat-card-subtitle>These settings help you improve the user experience.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <h3 class="mat-h3">Theme</h3>

            <mat-radio-group (change)="onThemeChange($event)" [(ngModel)]="selectedTheme">
                <mat-radio-button value="app-dark-theme">Dark theme</mat-radio-button>
                <br>
                <mat-radio-button value="app-light-theme">Light theme</mat-radio-button>
            </mat-radio-group>

            <h3 class="mat-h3">Mode</h3>

            <mat-form-field>
                <mat-select (selectionChange)="onChanged($event)" [(ngModel)]="selectedMode">
                    <mat-option *ngFor="let mode of appModes.available" [value]="mode.id">
                        {{mode.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- DISABLED UNTIL IMPLEMENTED! -->
            <!-- <h3 class="mat-h3">Language</h3>

            <mat-form-field>
                <mat-select placeholder="Choose language" (selectionChange)="onChanged($event)" [(ngModel)]="selectedLanguage">
                    <mat-option value="nb-NO">Norsk</mat-option>
                    <mat-option value="en-US">English</mat-option>
                </mat-select>
            </mat-form-field>

            <h3 class="mat-h3">Currency</h3>

            <mat-form-field>
                <mat-select placeholder="Choose currency" (selectionChange)="onChanged($event)" [(ngModel)]="selectedCurrency">
                    <mat-option value="USD">USD</mat-option>
                    <mat-option value="EUR">EUR</mat-option>
                    <mat-option value="NOK">NOK</mat-option>
                </mat-select>
            </mat-form-field> -->

        </mat-card-content>
    </mat-card>


    <mat-card class="settings-card">
        <mat-card-header>
            <mat-icon mat-card-avatar>account_balance_wallet</mat-icon>
            <mat-card-title>Wallet Options</mat-card-title>
            <mat-card-subtitle>Settings that applies to your wallet.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <h3 class="mat-h3">Wallet Mode</h3>

            <mat-radio-group (change)="onChanged($event)" [(ngModel)]="selectedWalletMode">
                <mat-radio-button value="multi">Multi-Address-Mode</mat-radio-button>
                <br>
                <mat-radio-button value="single">Single-Address-Mode</mat-radio-button>
            </mat-radio-group>

            <!-- DISABLED UNTIL IMPLEMENTED! -->
            <!-- <h3 class="mat-h3">Language</h3>

            <mat-form-field>
                <mat-select placeholder="Choose language" (selectionChange)="onChanged($event)" [(ngModel)]="selectedLanguage">
                    <mat-option value="nb-NO">Norsk</mat-option>
                    <mat-option value="en-US">English</mat-option>
                </mat-select>
            </mat-form-field>

            <h3 class="mat-h3">Currency</h3>

            <mat-form-field>
                <mat-select placeholder="Choose currency" (selectionChange)="onChanged($event)" [(ngModel)]="selectedCurrency">
                    <mat-option value="USD">USD</mat-option>
                    <mat-option value="EUR">EUR</mat-option>
                    <mat-option value="NOK">NOK</mat-option>
                </mat-select>
            </mat-form-field> -->

        </mat-card-content>
    </mat-card>

</div>