.dashboard {
    .history
    {
        width: 80%;

        .history-table
        {
            width: 100%;
        }
    }

    .dashboard-coinmap {
        min-height: 200px;
    }

    .transaction-details-button
    {
        height: 10px;
        margin: 0;
        padding: 0;
    }

    .transaction-details-button .mat-icon
    {
        font-size: 10px;
        margin: 0;
        padding: 0;
    }

    .link {
        cursor: pointer;
    }

    mat-card {
        margin-bottom: 20px;
    }

    .dashboard-split-card {
        display: flex;
        flex-direction: row;
    }

    .dashboard-split-left {
        flex-grow: 2;
        min-width: 230px;
        width: 65%;
    }

    .dashboard-split-right {
       padding-left: 20px;
       flex-grow: 1;
       width: 35%;
       align-self: center;
    }

    @media screen and (max-width: 599px) {
        .dashboard-split-card
        {
            flex-direction: column;
        }

        .dashboard-split-left {
            flex-grow: 2;
            width: 100%;
        }

        .dashboard-split-right {
            flex-grow: 1;
            width: 100%;
            align-self: center;
         }
    }
}
