.dashboard {
    .history
    {
        width: 80%;

        .history-table
        {
            width: 100%;
        }
    }

    .dashboard-coinmap {
        min-height: 200px;
    }

    .transaction-details-button
    {
        height: 10px;
        margin: 0;
        padding: 0;
    }

    .transaction-details-button .mat-icon
    {
        font-size: 10px;
        margin: 0;
        padding: 0;
    }

    .link {
        cursor: pointer;
    }

    mat-card {
        margin-bottom: 20px;
    }
}