.send {

    .spinner-container {
		vertical-align: middle;
		display: inline-block;
    }
    
    .mat-form-field {
        width: 100%;
        max-width: 400px;
    }

    mat-card {
        margin-bottom: 20px;
    }
}