<div class="content content-centered">
  <h1 class="mat-h1" *ngIf="appState.handset">{{appState.appTitle$ | async}}</h1>

  <mat-card>
    <h2 class="mat-h2">
      Amount available:
      <strong>{{ totalBalance | coinNotation }} {{ coinUnit }}</strong>
    </h2>
  </mat-card>

  <mat-card *ngIf="showInputField">
    <form [formGroup]="sendForm">
      <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input matInput id="amount" formControlName="amount" name="amount" placeholder="0.00 {{ coinUnit }}">
        <mat-icon matSuffix>account_balance_wallet</mat-icon>
        <mat-error *ngIf="formErrors.amount">
          {{ formErrors.amount }}
        </mat-error>
      </mat-form-field>

      <!-- <div class="form-group clearfix">
        <label class="float-left" for="amount">Amount</label>
        <input type="text" class="form-control" [class.is-invalid]="formErrors.amount" [class.is-valid]="!formErrors.amount && sendForm.get('amount').valid"
          formControlName="amount" id="amount" placeholder="amount" placeholder="0.00 {{ coinUnit }}">
        <div *ngIf="formErrors.amount" class="invalid-feedback">{{ formErrors.amount }}</div>
      </div> -->

      <br>

      <mat-form-field appearance="outline">
        <mat-label>Destination address</mat-label>
        <input matInput id="destinationAddress" formControlName="address" name="address" placeholder="Please enter the destination address here.">
        <mat-icon matSuffix>book</mat-icon>
        <mat-error *ngIf="formErrors.address">
          {{ formErrors.address }}
        </mat-error>
      </mat-form-field>

      <!-- <div class="form-group clearfix">
        <label for="destinationAddress">Destination address</label>
        <input type="text" class="form-control" [class.is-invalid]="formErrors.address" [class.is-valid]="!formErrors.address && sendForm.get('address').valid"
          formControlName="address" id="destinationAddress" placeholder="Please enter the destination address here.">
        <div *ngIf="formErrors.address" class="invalid-feedback">{{ formErrors.address }}</div>
      </div> -->

      <br>

      <label>Transaction Fee</label>
      <div>
        <label *ngIf="!estimatedFee" class="blockText fee-error">Please enter a valid amount and destination address to calculate the fee.</label>
        <label *ngIf="estimatedFee" class="blockText">{{ estimatedFee | coinNotation }} {{ coinUnit }}</label>
      </div>

      <br>

      <!-- fee buttons -->
      <!-- <div class="col row">
                  <div class="btn-group" ngbRadioGroup name="feeButtons" formControlName="fee">
                    <label ngbButtonLabel class="btn btn-outline-danger">
                      <input ngbButton type="radio" value="low"> Low/Slow
                    </label>
                    <label ngbButtonLabel class="btn btn-outline-warning">
                      <input ngbButton type="radio" value="medium"> Medium
                    </label>
                    <label ngbButtonLabel class="btn btn-outline-success">
                      <input ngbButton type="radio" value="high"> High/Fast
                    </label>
                  </div>
                </div> -->
      <!-- /fee buttons -->
      <!-- <div class="form-group clearfix">
                <small class="text-info" *ngIf="estimatedFee">
                  <em>Transaction Fee: {{ estimatedFee | coinNotation }} {{ coinUnit }}</em>
                </small>
              </div> -->

        <mat-form-field appearance="outline">
        <mat-label>Wallet Password</mat-label>
        <input matInput type="password" id="walletPassword" formControlName="password" placeholder="Please enter your wallet password.">
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error *ngIf="formErrors.password">
            {{ formErrors.password }}
        </mat-error>
        </mat-form-field>

          <mat-accordion class="example-headers-align" *ngIf="appModes.enabled('send-options')">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Options
                </mat-panel-title>
                <mat-panel-description>
                  <!-- Add message to transaction -->
                  &nbsp;
                  <mat-icon>text_snippet</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <h3 class="mat-h3">Add message to transaction</h3>

              <mat-form-field appearance="outline">
                <mat-label>OP_RETURN (message)</mat-label>
                <input matInput id="opreturndata" #opreturndata formControlName="opreturndata" [maxlength]="appState.activeChain.opreturndata" name="opreturndata" placeholder="Enter a message here.">
                <mat-hint align="start"><strong>Don't disclose personal info. Permanently stored on blockchain.</strong> </mat-hint>
                <mat-hint align="end">{{opreturndata.value.length}} / {{appState.activeChain.opreturndata}}</mat-hint>
                <mat-icon matSuffix>book</mat-icon>
                <mat-error *ngIf="formErrors.opreturndata">
                  {{ formErrors.opreturndata }}
                </mat-error>
              </mat-form-field>

              <br><br>
              <h3 class="mat-h3">Burn amount:</h3>

              <mat-form-field appearance="outline">
                <mat-label>Burn amount</mat-label>
                <input matInput id="opreturnamount" formControlName="opreturnamount" name="opreturnamount" placeholder="0.00 {{ coinUnit }}">
                <mat-hint align="start"><strong>Makes coins unusable. They can never be restored.</strong> </mat-hint>
                <mat-icon matSuffix>account_balance_wallet</mat-icon>
                <mat-error *ngIf="formErrors.opreturnamount">
                    {{ formErrors.opreturnamount }}
                  </mat-error>
              </mat-form-field>

              <br><br>
              <h3 class="mat-h3">Additional options:</h3>

              <mat-checkbox formControlName="shuffleOutputs" name="shuffleOutputs">Shuffle outputs (increase privacy)</mat-checkbox>

            </mat-expansion-panel>
          </mat-accordion>

          <br>

      <!-- <div class="form-group clearfix">
        <label for="walletPassword">Wallet Password</label>
        <input type="password" class="form-control" [class.is-invalid]="formErrors.password" [class.is-valid]="!formErrors.password && sendForm.get('password').valid"
          formControlName="password" id="walletPassword" placeholder="Please enter your wallet password.">
        <div *ngIf="formErrors.password" class="invalid-feedback">{{formErrors.password}}</div>
      </div> -->

      <div *ngIf="apiError" class="send-error">{{ apiError }}</div>
    </form>

    <button mat-raised-button color="primary" [disabled]="!sendForm.valid || isSending || estimatedFee === null" (click)="send()">Send</button>&nbsp;
    <button mat-stroked-button [disabled]="isSending" (click)="cancel()">Cancel</button>

  </mat-card>

  <mat-card *ngIf="showSendingField">
    <div class="spinner-container">
      <mat-spinner [diameter]="24"></mat-spinner>
    </div>
    &nbsp;&nbsp; Sending transaction ...
  </mat-card>

  <mat-card *ngIf="showConfirmationField">
    <!-- Unable to use coinNotation on this binding, figure out why. The amount is string type. -->
    <h1 class="mat-h1">Sent: {{ transaction.recipients[0].amount | number:'1.8-8' }} <small>{{ coinUnit }}</small></h1>
    <p>Fee: {{transaction.feeAmount | number:'1.8-8'}} <small>{{ coinUnit }}</small></p>
    <p>Destination: {{transaction.recipients[0].destinationAddress}}</p>
    <p>Transaction Id: {{transactionResult.transactionId }}</p>
    <!-- <p>Shuffled: {{transaction.shuffleOutputs}}</p> -->
    <button mat-stroked-button (click)="cancel()">Close</button>
  </mat-card>

</div>
