.account-create
{
	button
	{
		margin-right: 6px;
	}

	.account-create .mat-progress-spinner
	{
		display: inline-block;
	}

	.spinner-container {
		vertical-align: middle;
		display: inline-block;
	}

	.mnemonic, .mnemonic-print {
		font-size: 1.2rem;
		margin-top: 22px;
		margin-bottom: 22px;
		background-color: white;
		color: black;
		padding: 20px;
		line-height: 40px;
		vertical-align: bottom;
		align-content: center;
	}
	
	.mnemonic-print {
		color: black;
	}
	
	.mnemonic-date {
		font-size: 1rem;
		color: black;
		padding: 20px;
	}
}
