 * {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    // -webkit-touch-callout: none;                __<<ngThemingMigrationEscapedComment1>>__
    // -webkit-text-size-adjust: none;             __<<ngThemingMigrationEscapedComment2>>__
    // -webkit-user-select: none;                  __<<ngThemingMigrationEscapedComment3>>__

    // background-color:#E4E4E4;
    // background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    // font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    // font-size:12px;
    // height:100vh;
    // margin:0px;
    // padding:0px;
    
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    // text-transform:uppercase;
    // width:100%;
}

/* Portrait layout (default) */
// .app {
//     // background:url(../img/logo.png) no-repeat center top; __<<ngThemingMigrationEscapedComment6>>__
//     position:absolute;             __<<ngThemingMigrationEscapedComment7>>__
//     left:50%;
//     top:50%;
//     height:50px;                   __<<ngThemingMigrationEscapedComment8>>__
//     width:225px;                   __<<ngThemingMigrationEscapedComment9>>__
//     text-align:center;
//     padding:180px 0px 0px 0px;     __<<ngThemingMigrationEscapedComment10>>__
//     margin:-115px 0px 0px -112px;  __<<ngThemingMigrationEscapedComment11>>__
//                                    __<<ngThemingMigrationEscapedComment12>>__
// }

/* Landscape layout (with min-width) */
// @media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
//     .app {
//         background-position:left center;
//         padding:75px 0px 75px 170px;  __<<ngThemingMigrationEscapedComment14>>__
//         margin:-90px 0px 0px -198px;  __<<ngThemingMigrationEscapedComment15>>__
//                                       __<<ngThemingMigrationEscapedComment16>>__
//     }
// }

// h1 {
//     font-size:24px;
//     font-weight:normal;
//     margin:0px;
//     overflow:visible;
//     padding:0px;
//     text-align:center;
// }

// .event {
//     border-radius:4px;
//     -webkit-border-radius:4px;
//     color:#FFFFFF;
//     font-size:12px;
//     margin:0px 30px;
//     padding:2px 0px;
// }

// .event.listening {
//     background-color:#333333;
//     display:block;
// }

// .event.received {
//     background-color:#4B946A;
//     display:none;
// }

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
