<div class="content content-centered">
    <h1 class="mat-h1" *ngIf="appState.handset">{{appState.appTitle$ | async}}</h1>

    <mat-button-toggle-group (change)="onAddressTypeChange($event)" [value]="appState.addressType" class="address-type-toggle">
        <mat-button-toggle *ngFor="let addressType of appState.addressTypes" [value]="addressType">{{ addressType }}</mat-button-toggle>
    </mat-button-toggle-group>

    <br>

    <form *ngIf="!showAll">
        <div>
            <div>
                <!-- <ngx-qrcode 
                    [elementType]="elementType" 
                    [value] = "value"
                    cssClass = "aclass"
                    errorCorrectionLevel = "L">
                </ngx-qrcode> -->

                <ngx-qrcode cssClass="qr-address" elementType="canvas" [value]="qrString" errorCorrectionLevel="L"></ngx-qrcode>

            </div>
            <div>
                <code class="d-inline-block">{{ address }}</code>

                <button mat-icon-button ngbTooltip="Copy to clipboard" [cdkCopyToClipboard]="address" (click)="onCopiedClick()">
                    <mat-icon>content_copy</mat-icon>
                </button>
            </div>
            <div *ngIf="wallet.isSingleAddressMode">
                <p class="mat-caption">
                    You have enabled Single-Address-Mode in settings, the address above is always the same address. If you enable staking with
                    the Single-Address-Mode, you will receive staking rewards on generated change addresses, not on the single
                    address above.
                </p>
                <br>
            </div>
            <div>
                <p class="mat-caption">
                    When this address is used, you will receive another address. Addresses can be used multiple times. Make sure you always use a fresh
                    address to increase your privacy.
                </p>
            </div>
        </div>
    </form>

    <button *ngIf="showAll" mat-stroked-button (click)="showOneAddress()">← Back to one address</button>

    <form *ngIf="showAll">


        <br>
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
            <mat-tab label="Unused">
                <div class="tab-pane">
                    <div *ngFor="let unusedAddress of unusedAddresses" class="tab-pane-line">
                        <code class="d-inline-block">{{ unusedAddress }}</code>
                        <button mat-icon-button ngbTooltip="Copy to clipboard" [cdkCopyToClipboard]="unusedAddress" (click)="onCopiedClick()">
                            <mat-icon>content_copy</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Used">
                <div class="tab-pane">
                    <div *ngFor="let usedAddress of usedAddresses" class="tab-pane-line">
                        <code class="d-inline-block">{{ usedAddress }}</code>

                        <button mat-icon-button ngbTooltip="Copy to clipboard" [cdkCopyToClipboard]="usedAddress" (click)="onCopiedClick()">
                            <mat-icon>content_copy</mat-icon>
                        </button>

                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Change">
                <div class="tab-pane">
                    <div *ngFor="let changeAddress of changeAddresses" class="tab-pane-line">
                        <code class="d-inline-block">{{ changeAddress }}</code>

                        <button mat-icon-button ngbTooltip="Copy to clipboard" [cdkCopyToClipboard]="changeAddress" (click)="onCopiedClick()">
                            <mat-icon>content_copy</mat-icon>
                        </button>

                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>

    </form>

    <div>
        <button *ngIf="!showAll" mat-stroked-button (click)="showAllAddresses()">Show all addresses</button>
    </div>

</div>
