<div class="not-selectable">
    <mat-grid-list class="network-grid" [cols]="columns" rowHeight="2:1" #grid>
        <mat-grid-tile>
            <span class="network-label">Network Height</span>
            <span class="network-value">{{walletService.generalInfo?.chainTip}}</span>
        </mat-grid-tile>
        <mat-grid-tile>
            <span class="network-label">Wallet Height</span>
            <span class="network-value">{{walletService.generalInfo?.lastBlockSyncedHeight}}</span>
        </mat-grid-tile>
        <mat-grid-tile>
            <span class="network-label">Connections</span>
            <span class="network-value">{{walletService.generalInfo?.connectedNodes}}</span>
        </mat-grid-tile>
        <mat-grid-tile>
            <span class="network-label">Network</span>
            <span class="network-value">{{walletService.generalInfo?.network}}</span>
        </mat-grid-tile>
        <mat-grid-tile>
            <span class="network-label" *ngIf="walletService.percentSyncedNumber === 100">Chain Synced</span>
            <span class="network-label" *ngIf="walletService.percentSyncedNumber !== 100">Chain Syncing</span>
            <span class="network-value" *ngIf="walletService.percentSyncedNumber === 100">
                <mat-icon>cloud_done</mat-icon>
            </span>
            <span class="network-value" *ngIf="walletService.percentSyncedNumber !== 100">{{walletService.percentSynced}}</span>
        </mat-grid-tile>
        <mat-grid-tile>
            <span class="network-label">Account date</span>
            <span class="network-value">{{walletService.generalInfo?.creationTime.toDateString()}}</span>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-progress-bar mode="determinate" ng-hide="walletService.generalInfo == null" *ngIf="walletService.percentSyncedNumber !== 100" bufferValue="0" mode="buffer" [value]="walletService.percentSyncedNumber"></mat-progress-bar>
</div>

<div class="network-details-footer">
    <button (click)="details()" mat-raised-button>Show details</button>
</div>
