<div class="content">
    <h1 class="mat-h1" *ngIf="appState.handset">{{appState.appTitle$ | async}}</h1>

    <h3 class="mat-h3">February 18th, 2019 (v1.0.23)</h3>

    <ul>
        <li>Options to change the action when minimizing City Hub. It can either show in task bar, or hide to the tray. The default will continue to be visible, but can be changed in options.</li>
        <li>Automatic startup on computer log in can now be turned on in the settings. This will automatically start City Hub when your computer restarts and you log in.</li>
        <li>Single instance - When starting another instance of City Hub, the existing instance will appear and activate.</li>
    </ul>

    <h3 class="mat-h3">February 17th, 2019 (v1.0.22)</h3>

    <ul>
        <li>Adds Content-Security-Policy, which improves the security of loading content into City Hub.</li>
        <li>Update the timeout when "Exit now" appears on shutdown, from 4 seconds to 10 seconds (<a href="https://github.com/CityChainFoundation/city-hub/issues/125" target="_blank">#125</a>).</li>
    </ul>

    <h3 class="mat-h3">February 16th, 2019 (v1.0.21)</h3>

    <ul>
        <li>Updated the ticker, will now show CITY/BTC and BTC/USD.</li>
        <li>Performance improvements: Upgraded libaries and dependencies for City Hub.</li>
    </ul>

    <h3 class="mat-h3">December 15, 2019 (v1.0.20)</h3>

    <ul>
        <li>Transaction history is now showing the last 1000 transactions, an increase from 200.</li>
        <li>Shows the count of unspent transaction out (UTXO) and transactions they belong to in the Wallet feature, when advanced mode is enabled.</li>
    </ul>

    <h3 class="mat-h3">November 10, 2019 (v1.0.19)</h3>

    <ul>
        <li>Updates to latest City Chain daemon (background process).</li>
    </ul>

    <h3 class="mat-h3">September 23, 2019 (v1.0.18)</h3>

    <ul>
        <li>Add new advanced network feature available under the normal status page. You can add nodes manually, disconnect nodes and ban nodes.</li>
        <li>Improved interaction between City Hub and City Chain (daemon), making it more stable and better.</li>
    </ul>

    <h3 class="mat-h3">July 12, 2019 (v1.0.17)</h3>

    <ul>
        <li>Fixes a minor issue where selected menu option was not highlighted.</li>
        <li>Upgrades dependencies for City Hub, improving the overall experience and performance.</li>
    </ul>

    <h3 class="mat-h3">April 7, 2019 (v1.0.16)</h3>

    <ul>
        <li>City Chain Insight API adds support for market values, City Hub was updated to get latest prices from the official API.</li>
        <li>Updated with latest City Chain daemon, which includes many bug fixes, performance improvements and updates.</li>
        <li>Improved error handling when unlocking a wallet.</li>
        <li>Reduced amount of API requests, reducing resource utilization by City Hub.</li>
    </ul>

    <h3 class="mat-h3">January 8, 2019 (v1.0.15)</h3>

    <ul>
        <li>Add the City Coin to the ticker on dashboard, market price in both USD and BTC.</li>
        <li>Wallet resync (available in the tools) will add a notification when starting.</li>
        <li>Improved text formatting of releases notes in the update available page.</li>
    </ul>

    <h3 class="mat-h3">December 23, 2018 (v1.0.14)</h3>

    <ul>
        <li>Upgraded UI component, UI refreshed with Material Design 2018 guidelines.</li>
        <li>Upgraded App components to latest releases, improving performance and loading.</li>
        <li>Notification center: The majority of notifications has been moved to a new section on the top right.
            Click the notification icon so see the last 10 unique error messages.
            Copy transactions and address to clipboard still show the toast at the bottom.</li>
    </ul>

    <h3 class="mat-h3">December 15, 2018 (v1.0.13)</h3>

    <ul>
        <li>Added Tools in the top right menu, with options to Resync and retrieve the Extended Public Key.</li>
        <li>Closing City Hub will now show a progress indicator while the City Chain background process is stopping.</li>
        <li>Added more details to the About dialog.</li>
        <li>Increased the interval of requests and information update in the UI, reducing resource demands on the computer.</li>
    </ul>

    <h3 class="mat-h3">December 11, 2018 (v1.0.12)</h3>

    <ul>
        <li>Shows transaction Id on confirmation page.</li>
        <li>Updates to latest City Chain daemon, that includes improved network syncing.</li>
    </ul>

    <h3 class="mat-h3">November 23, 2018 (v1.0.11)</h3>

    <ul>
        <li>Adds checkpoints to the verification of the blockchain.</li>
        <li>Minor bug fixes and improvements.</li>
    </ul>

    <h3 class="mat-h3">November 9, 2018 (v1.0.10)</h3>

    <ul>
        <li>Adds a ticker for the current wallet coin (currently showing Bitcoin, until marketdata-service supports City), showing current price, change last 24 hours, market cap and market volume on the dashboard.</li>
    </ul>

    <h3 class="mat-h3">November 6, 2018 (v1.0.9)</h3>

    <ul>
        <li>Fixes issue with shutdown not working properly.</li>
        <li>Improve error handling when communicating with City Chain daemon. Fixes issue with stability.</li>
        <li>Show version on the load and login screen.</li>
        <li>Temporarily remove a few features from dashboard that is not implemented fully.</li>
    </ul>

    <h3 class="mat-h3">November 5, 2018 (v1.0.8)</h3>

    <ul>
        <li>Launch of MAIN network, change in the mode on login screen.</li>
        <li>Greatly improved the stability of wallet balance. Fixed problem with balance sometimes not being updated until after City Hub restart.</li>
        <li>Added an advanced option on the wallet, to reset the transaction history and resync the wallet.</li>
    </ul>

    <h3 class="mat-h3">October 25, 2018 (v1.0.7)</h3>

    <ul>
        <li><strong>Offline</strong> support for icons (<a href="https://github.com/CityChainFoundation/city-hub/issues/97" target="_blank">#97</a>).</li>
        <li>Minor improvements for mobile (small screen) view.</li>
    </ul>

    <h3 class="mat-h3">October 20, 2018 (v1.0.6)</h3>

    <ul>
        <li><strong>Improved</strong> the visual status on transactions in the wallet (<a href="https://github.com/CityChainFoundation/city-hub/issues/94" target="_blank">#94</a>).</li>
        <li><strong>Fixed</strong> minor issue on block explorer, where using keyboard to navigate with page up and page down, could go lower than 0 (genesis).</li>
    </ul>

    <h3 class="mat-h3">October 10, 2018 (v1.0.5)</h3>

    <ul>
        <li><strong>Improved</strong> wallet feature, with sorting and filtering of transaction history.</li>
        <li><strong>Improved</strong> navigation on the blockchain history.</li>
    </ul>

    <h3 class="mat-h3">October 9, 2018 (v1.0.4)</h3>

    <ul>
        <li><strong>Improved</strong> error handling and logging.</li>
        <li><strong>Improved</strong> update of balance and transaction history.</li>
    </ul>

    <h3 class="mat-h3">October 7, 2018 (v1.0.3)</h3>

    <ul>
        <li><strong>Improved</strong> the shutdown of background process.</li>
    </ul>

    <h3 class="mat-h3">October 6, 2018 (v1.0.2)</h3>

    <ul>
        <li><strong>General</strong> minor improvements.</li>
    </ul>

    <h3 class="mat-h3">October 4, 2018 (v1.0.1)</h3>

    <ul>
        <li>
            <strong>TESTNET</strong> launch of City Chain and City Hub.
        </li>
        <li>Previous release history has been removed. This is the first official release of City Hub.</li>
        <li>It is <strong>only TESTNET</strong> which is supported in this release.</li>
    </ul>

    <br>
    <em>Preview release change history was purged.</em>

</div>
