<div class="content">
    <h1 class="mat-h1" *ngIf="appState.handset">{{appState.appTitle$ | async}}</h1>

    <h3 class="mat-h3">October 20, 2018 (v1.0.6)</h3>

    <ul>
        <li><strong>Improved</strong> the visual status on transactions in the wallet</li>
        <li><strong>Fixed</strong> minor issue on block explorer, where using keyboard to navigate with page up and page down, could go lower than 0 (genesis).</li>
    </ul>

    <h3 class="mat-h3">October 10, 2018 (v1.0.5)</h3>

    <ul>
        <li><strong>Improved</strong> wallet feature, with sorting and filtering of transaction history.</li>
        <li><strong>Improved</strong> navigation on the blockchain history.</li>
    </ul>

    <h3 class="mat-h3">October 9, 2018 (v1.0.4)</h3>

    <ul>
        <li><strong>Improved</strong> error handling and logging.</li>
        <li><strong>Improved</strong> update of balance and transaction history.</li>
    </ul>

    <h3 class="mat-h3">October 7, 2018 (v1.0.3)</h3>

    <ul>
        <li><strong>Improved</strong> the shutdown of background process.</li>
    </ul>

    <h3 class="mat-h3">October 6, 2018 (v1.0.2)</h3>

    <ul>
        <li><strong>General</strong> minor improvements.</li>
    </ul>

    <h3 class="mat-h3">October 4, 2018 (v1.0.1)</h3>

    <ul>
        <li>
            <strong>TESTNET</strong> launch of City Chain and City Hub.
        </li>
        <li>Previous release history has been removed. This is the first official release of City Hub.</li>
        <li>It is <strong>only TESTNET</strong> which is supported in this release.</li>
    </ul>

</div>
