.notifications {

    .notifications-actions {
        align-self: center;
        min-width: 200px;
        max-width: 512px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        text-align: center;
    }
    
    .notifications-card {
        align-self: center;
        min-width: 200px;
        max-width: 512px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .notifications-remove
    {
        float: right;
        margin-right: -38px;
        margin-top: -38px;
    }

    .notifications-remove:hover
    {
        color: silver;
    }
}
