@import '~@angular/material/theming';

$app-red-palette: (
    50   : #f6e0e5,
    100  : #e9b3bd,
    200  : #db8092,
    300  : #cc4d66,
    400  : #c12645,
    500  : #b60024,
    600  : #af0020,
    700  : #a6001b,
    800  : #9e0016,
    900  : #8e000d,
    A100 : #ffbabd,
    A200 : #ff878c,
    A400 : #ff545b,
    A700 : #ff3b42,
    contrast: (
        50 :  $dark-primary-text,
        100 : $dark-primary-text,
        200 : $dark-primary-text,
        300 : $light-primary-text,
        400 : $light-primary-text,
        500 : $light-primary-text,
        600 : $light-primary-text,
        700 : $light-primary-text,
        800 : $light-primary-text,
        900 : $light-primary-text,
        A100 : $dark-primary-text,
        A200 : $dark-primary-text,
        A400 : $dark-primary-text,
        A700 : $light-primary-text,
    )
);