<mat-tab-group mat-stretch-tabs>
    <mat-tab label="Extended Public Key">
        <div class="tab-pane content">

            <p>This is your wallets Extended Public Key. With this key, you can generate all used and all future addresses for your wallet. For your own privacy, do not share this key with anyone.</p>

            <p>With this key, you or a computer system, can generate payment addresses for your wallet, without sharing the private key.</p>

            <p><strong>Extended Public Key:</strong> <button mat-icon-button ngbTooltip="Copy to clipboard" [cdkCopyToClipboard]="extPubKey" (click)="onCopiedClick()">
                    <mat-icon>content_copy</mat-icon>
                </button></p>
            <p class="code-block">{{ extPubKey }}</p>

        </div>
    </mat-tab>
    <!-- <mat-tab label="Generate Addresses">
        <div class="tab-pane">
        </div>
    </mat-tab> -->
    <mat-tab label="Resync">
        <div class="tab-pane content">

            <h1>Resync</h1>

            <p class="mat-caption">If you have issues with your wallet, these actions might help you</p>
            <p>
                Sometimes your wallet might be unable to update the correct state on all transactions. If you have performed a payment and it never become confirmed, it might simply be your local blockchain cache that is not up-to-date.
            </p>
            <p>
                <button mat-flat-button color="warn" [disabled]="resyncTriggered" (click)="resync()">Clear transactions history and resync</button>&nbsp;
            </p>
            <p *ngIf="resyncTriggered">
                Transaction history cleared and syncing your wallet from the date of creation. You can see the status by clicking the top right <a routerLink="/network">network status</a> icon.
            </p>

        </div>
    </mat-tab>
</mat-tab-group>
