<div class="splash-container not-selectable">

    <app-logo></app-logo>

    <ng-template [ngIf]="!loading" [ngIfElse]="spinner">

        <mat-form-field>
            <mat-select placeholder="Select network" [(ngModel)]="appState.activeChain">
                <mat-option *ngFor="let network of filteredAvailableChains" [value]="network">
                    {{network.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button class="start-button" (click)="launch()" [disabled]="selectedMode === null || appState.activeChain === null" mat-raised-button color="primary">Start</button>

        <mat-accordion class="setup-headers-align" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <!-- <mat-panel-title>
                  Configuration
                </mat-panel-title> -->
                    <mat-panel-description>
                        Configuration
                        <mat-icon>build</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div>

                    <mat-form-field>
                        <mat-select placeholder="Select mode" [(ngModel)]="selectedMode">
                            <mat-option *ngFor="let mode of modes" [value]="mode">
                                {{mode.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div *ngIf="selectedMode?.id === 'local'">
                        <br>

                        <button (click)="chooseNodeExecutable()" mat-raised-button>Node executable:</button>

                        <br>

                        <div class="path" *ngIf="appState.daemon.path"><br>
                            {{appState.daemon.path}} <button (click)="clearNodePath()" mat-icon-button>
                                <mat-icon>clear</mat-icon>
                            </button>
                        </div>

                        <!-- Node executable:<br>
            <input class="custom-file-mode" type="file" (change)="onDaemonFolderChange($event)" />
            <br><br> -->
                        <!-- Data folder:<br>
            <input class="custom-file-mode" type="file" (change)="onDataFolderChange($event)" webkitdirectory="true" />
            <br><br> -->
                    </div>
                    <br>

                    <div *ngIf="selectedMode?.id !== 'mobile'">
                        <br>
                        <!-- Data folder:<br>
            <input class="custom-file-mode" type="file" (change)="onDataFolderChange($event)" />
            <br><br> -->
                        <button (click)="chooseDataFolder()" mat-raised-button>Choose data folder:</button>

                        <br>

                        <div class="path" *ngIf="appState.daemon.datafolder"><br>
                            <span class="path"><a (click)="openFolder(appState.daemon.datafolder)" href="javascript:void(0)">{{appState.daemon.datafolder}}</a></span> <button (click)="clearDataFolder()" mat-icon-button>
                                <mat-icon>clear</mat-icon>
                            </button>
                        </div>
                        <br>

                    </div>
                    <br>

                    <mat-checkbox [(ngModel)]="listTestNetworks">Show Test networks</mat-checkbox>
                    <br><br>

                    <mat-checkbox [(ngModel)]="remember">Remember</mat-checkbox>
                    <br>

                </div>

            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-description>
                        Advanced
                        <mat-icon>build</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div>
                    <mat-form-field class="advanced-form-field">
                        <mat-label>Blockchain Database Package URL:</mat-label>
                        <input matInput type="url" [(ngModel)]="downloadUrl">
                        <button mat-button *ngIf="downloadUrl" matSuffix mat-icon-button aria-label="Clear" (click)="downloadUrl=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>

                    <br>

                    <button [disabled]="!downloadUrl || downloading || unpacking" (click)="downloadAndUnpack(downloadUrl)" mat-raised-button>Download and unpack</button>

                    <div *ngIf="downloading && downloadProgress">
                        <br><br>
                        Downloading:<br><br>
                        <mat-progress-bar mode="determinate" [value]="downloadProgress.progress"></mat-progress-bar>
                        <br>
                        {{downloadProgress.downloaded | bytes}} of {{downloadProgress.size | bytes}}
                        <br><br>
                        <button (click)="cancelDownload()" mat-raised-button>Cancel</button>
                    </div>

                    <div *ngIf="unpacking">
                        <br><br>
                        Unpacking:<br><br>
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </div>

                    <div *ngIf="unpacked">
                        <br><br>
                        Download and unpacking completed.<br>
                        You can now continue by clicking Start.
                    </div>

                </div>
            </mat-expansion-panel>

        </mat-accordion>


        <mat-accordion class="setup-headers-align" multi>

        </mat-accordion>

        <!-- <p class="mat-caption">
            During PREVIEW RELEASE testing, <br>these options are set by default.
        </p> -->

    </ng-template>

    <ng-template #spinner>
        <mat-spinner></mat-spinner>
        <span class="load-text">Loading <strong>{{appState.activeChain.name}}</strong>... please wait.<br><br>

            <div class="load-feature-status" *ngFor="let feature of featureStatus">
                <div class="name">{{feature.name}}</div>
                <div class="status"><mat-icon *ngIf="feature.initialized">task_alt</mat-icon></div>
            </div>

            <br>Release {{appState.release}}
        </span>
        <span *ngIf="delayed">
            <br>
            <button routerLink="/advanced" mat-raised-button>Advanced</button>&nbsp;
            <button (click)="cancel()" mat-raised-button color="primary">Cancel</button>
        </span>
    </ng-template>

</div>
