<div class="content">
    <h1 class="mat-h1">Restore account</h1>

    <form [formGroup]="form">

        <p>If you already have an account, you can restore it here. You need your 12-word <strong>recovery phrase</strong> that was given to your when
            you first created your account, and approximately the date you created your account.</p>
        <br>

        <mat-card>
            <h2 class="mat-h2">
                What is the earliest possible date your created your account?
            </h2>

            <p>
                <mat-form-field>
                    <input matInput [min]="minDate" [max]="maxDate" [(ngModel)]="accountDate" formControlName="accountDate" [matDatepicker]="picker" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </p>
        </mat-card>

        <mat-card>

            <h2 class="mat-h2">What is your 12-word <strong>recovery phrase</strong> you saw when you created your account?</h2>

            <p>
                <mat-form-field class="input-full-width">
                    <textarea matInput formControlName="accountMnemonic" [(ngModel)]="mnemonic" id="accountMnemonic" placeholder="Fill out recovery phrase"></textarea>
                </mat-form-field>
            </p>
        </mat-card>

        <mat-card>

            <h2 class="mat-h2">What is your personal extension word, if any, you used when you created your account?</h2>

            <p>
                <mat-form-field class="input-full-width">
                    <textarea matInput formControlName="seedExtension" [(ngModel)]="seedExtension" id="seedExtension" placeholder="Enter your extension word (can be empty)"></textarea>
                </mat-form-field>
            </p>
        </mat-card>

        <mat-card>
            <h2 class="mat-h2">What is the password for your account?</h2>

            <p>Provide a password that we can use to protect your wallet when it is saved. You can choose something other than what you had before.
                You will be prompted to enter this passord every time your start Blockcore Hub.</p>
            <p>
                <mat-form-field class="input-full-width">
                    <input matInput type="password" [formGroup]="form" [(ngModel)]="password1" placeholder="Enter your password" name="accountPassword" formControlName="accountPassword" autocomplete="new-password">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="input-full-width">
                    <input matInput type="password" [formGroup]="form" [(ngModel)]="password2" placeholder="Enter your password again" name="accountPasswordConfirmation" formControlName="accountPasswordConfirmation" autocomplete="new-password">
                    <mat-error *ngIf="form.get('accountPasswordConfirmation').hasError('accountPasswordConfirmation')">
                        Passwords must match.
                    </mat-error>
                </mat-form-field>
            </p>

        </mat-card>

        <mat-card>
            <h2 class="mat-h2">
                What do you want to name your account?
            </h2>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Account name</mat-label>
                    <input matInput [(ngModel)]="accountName" formControlName="accountName" name="accountName" placeholder="Fill out account name">
                    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                    <!-- <mat-hint>This is your personal password, not the 12-word phrase. Make sure you use a password you can remember, nobody else have your password and nobody can help you recover it.</mat-hint> -->
                </mat-form-field>
            </p>
        </mat-card>

        <button type="button" color="primary" (click)="restoreAccount()" mat-raised-button [disabled]="saving || form.invalid">Restore account</button>
        <button mat-raised-button routerLink="/login" type="button">Cancel</button>
        <div class="spinner-container" *ngIf="saving">
            <mat-spinner [diameter]="24"></mat-spinner>
        </div>

    </form>

</div>
