<div class="content">

    <mat-card>
        <mat-icon class="wallet-info-icon" [matTooltip]="walletInfo">info</mat-icon>
        <mat-card-title>Balance</mat-card-title>
        <mat-card-subtitle>The balance of your wallet.</mat-card-subtitle>
        <mat-card-content>
            <p>
                <strong>{{ (wallet.confirmedBalance | coinNotation) || (0 | coinNotation) }}</strong>
                <small class="text-uppercase"> {{ wallet.coinUnit }}</small>
            </p>
            <ul *ngIf="wallet.unconfirmedBalance">
                <li>
                    <strong>{{ (wallet.unconfirmedBalance | coinNotation) || (0 | coinNotation) }}</strong>
                    <em> (unconfirmed)</em>
                </li>
            </ul>

            <p>
                <button mat-stroked-button color="primary" routerLink="/wallet/send">Send</button>&nbsp;
                <button mat-stroked-button color="primary" routerLink="/wallet/receive">Receive</button>&nbsp;
            </p>
        </mat-card-content>
    </mat-card>

    <!-- 
    <mat-card class="wallet-split-card">
        <div class="wallet-split-left">
            <h2 class="mat-h2">Balance</h2>
            <p>
                <strong>{{ (wallet.confirmedBalance | coinNotation) || (0 | coinNotation) }}</strong>
                <small class="text-uppercase"> {{ wallet.coinUnit }}</small>
            </p>
            <ul>
                <li>
                    <strong>{{ (wallet.unconfirmedBalance | coinNotation) || (0 | coinNotation) }}</strong>
                    <em> (unconfirmed)</em>
                </li>
            </ul>

            <p>
                <button mat-stroked-button color="primary" routerLink="/wallet/send">Send</button>&nbsp;
                <button mat-stroked-button color="primary" routerLink="/wallet/receive">Receive</button>&nbsp;
            </p>

        </div>

        <div class="wallet-split-right mat-caption">
            When you send coins, due to the nature of how blockchain technology works, your existing coins can go from confirmed to unconfirmed.<br>
            This is normal and expected. Within a few minutes, your balance should be updated.
        </div>
    </mat-card> -->

    <mat-card *ngIf="wallet.hasBalance && appModes.enabled('staking')" class="wallet-split-card">

        <div class="wallet-split-left" *ngIf="!wallet.stakingEnabled">
            <h2 class="mat-h2">Staking</h2>
            <div class="card-body">
                <div class="alert alert-info text-center" role="alert">Unlock your wallet to start staking</div>
                <br>
                <form [formGroup]="stakingForm">
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>Account password</mat-label>
                            <input matInput type="password" id="inputPassword" formControlName="walletPassword" placeholder="Fill out to unlock account">
                        </mat-form-field>
                        <br>
                        <button type="button" mat-stroked-button id="flipcard" [disabled]="wallet.isStarting || !stakingForm.valid" (click)="startStaking()">Unlock</button>
                    </div>
                </form>
            </div>
        </div>

        <div id="staking" class="wallet-split-left" *ngIf="wallet.stakingEnabled">

            <h2 class="mat-h2">Staking</h2>
            <ul>
                <li *ngIf="wallet.isStarting">Waiting for staking to start...</li>
                <li>Your weight is
                    <strong>{{ wallet.stakingWeight | coinNotation | number: '1.0-0' }} {{ wallet.coinUnit }}</strong>
                </li>
                <li>Network weight is
                    <strong>{{ wallet.netStakingWeight | coinNotation | number: '1.0-0' }} {{ wallet.coinUnit }}</strong>
                </li>
                <li class="mt-2">Expected reward time is:</li>
                <li>
                    <strong>{{ wallet.dateTime }}</strong>
                </li>
            </ul>

            <p>
                <button type="button" mat-stroked-button [disabled]="wallet.isStopping" (click)="stopStaking()">Stop Staking</button>
            </p>

            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Details
                        </mat-panel-title>
                        <mat-panel-description>
                            Show advanced details
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    Staking: {{wallet.stakingInfo.staking}}<br>
                    Errors: {{wallet.stakingInfo.errors}}<br>
                    CurrentBlockSize: {{wallet.stakingInfo.currentBlockSize}}<br>
                    CurrentBlockTx: {{wallet.stakingInfo.currentBlockTx}}<br>
                    PooledTx: {{wallet.stakingInfo.pooledTx}}<br>
                    Difficulty: {{wallet.stakingInfo.difficulty}}<br>
                    Search interval: {{wallet.stakingInfo.searchInterval}}<br>

                </mat-expansion-panel>
            </mat-accordion>

        </div>

        <div class="wallet-split-right mat-caption">
            You can stake the balance you have in your wallet.
            <br> The longer you stake, the higher your weight will become.<br> The longer you have your coins in the wallet,
            the higher your weight gets and it improves your chance of staking.
        </div>

    </mat-card>

    <h2 class="mat-h2">Transactions</h2>

    <div *ngIf="wallet.isSingleAddressMode">
        <p class="mat-caption">
            You have enabled Single-Address-Mode in settings, this changes the behavior of the transaction history. When you perform a transaction, the history below will show both
            sent and received (change coins). Normally the change coins are never shown in the transaction history.
        </p>
        <br>
    </div>

    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
        <mat-tab label="All">
            <div class="tab-pane">

                <ng-template [ngIf]="!wallet.transactionArray">
                    <p class="wallet-no-transactions">
                        <em>No transactions in your wallet. You might need to wait for the network to synchronize.</em>
                    </p>
                </ng-template>

                <div class="mat-elevation-z8">
                    <table class="wallet-transactions-table" mat-table [dataSource]="dataSource">

                        <ng-container matColumnDef="transactionType">
                            <th mat-header-cell *matHeaderCellDef> Type </th>
                            <td mat-cell *matCellDef="let transaction">
                                <mat-icon class="wallet-confirmed-icon" matTooltip="Transaction not confirmed in any blocks yet." matTooltipPosition="right" *ngIf="!transaction.transactionConfirmedInBlock">warning</mat-icon>
                                <mat-icon class="wallet-confirmed-icon" matTooltip="Confirmed in block #{{transaction.transactionConfirmedInBlock}}" matTooltipPosition="right" *ngIf="transaction.transactionConfirmedInBlock">check</mat-icon>
                                {{transaction.transactionType}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="transactionAmount">
                            <th mat-header-cell *matHeaderCellDef> Amount </th>

                            <td mat-cell *matCellDef="let transaction">

                                <span *ngIf="transaction.transactionType == 'sent'">
                                    <strong>- {{ transaction.transactionAmount + transaction.transactionFee | coinNotation
                                        }} {{ wallet.coinUnit }}
                                    </strong>
                                </span>

                                <span *ngIf="transaction.transactionType == 'received'">
                                    <strong>+ {{ transaction.transactionAmount + transaction.transactionFee | coinNotation
                                        }} {{ wallet.coinUnit }}
                                    </strong>
                                </span>

                                <span *ngIf="transaction.transactionType == 'staked'">
                                    <strong>+ {{ transaction.transactionAmount + transaction.transactionFee | coinNotation
                                        }} {{ wallet.coinUnit }}
                                    </strong>
                                </span>

                            </td>
                        </ng-container>

                        <ng-container matColumnDef="transactionTimestamp">
                            <th mat-header-cell *matHeaderCellDef> Date </th>
                            <td mat-cell *matCellDef="let transaction">
                                <span *ngIf="!appState.handset">{{ transaction.transactionTimestamp * 1000 | date:'medium'
                                    }}</span>
                                <span *ngIf="appState.handset">{{ transaction.transactionTimestamp * 1000 | date:'short'
                                    }}</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef> Actions </th>
                            <td mat-cell *matCellDef="let transaction">
                                <a class="link" (click)="openTransactionDetails(transaction)">view</a>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </mat-tab>
        <!-- <mat-tab label="Received">
            <div class="tab-pane">
            </div>
        </mat-tab>
        <mat-tab label="Sent">
            <div class="tab-pane">
            </div>
        </mat-tab> -->
    </mat-tab-group>
</div>
