<div class="login-container">
    <div class="login-content">

        <!-- <div>
            <mat-icon svgIcon="city-logo" mat-list-icon></mat-icon> City Chain
        </div> -->

        <div>
            <button (click)="login()" mat-stroked-button>Create</button> or
            <button (click)="login()" mat-stroked-button color="primary">Restore</button>
            your account
        </div>
    </div>
    <div class="login-banner">
        <div class="login-banner-content">
            <img src="/assets/city/city-chain.png" class="login-logo">
            <br>
            <br>
            <h3>Log in to access your account</h3>
        </div>
    </div>
</div>