.login
{
    height: 100%;
    width: 100%;

    .login-container
    {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .login-content
    {
        width: 44%;
        min-width: 240px;
        padding-top: 20%;
        padding-bottom: 20%;
        text-align: center;
    }
    
    .login-logo
    {
        width: 100%;
    }

    .login-banner
    {
        background-color: #dfab3c;
        width: 56%;
        background-image: url('/assets/city/splash-image.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
    }

    .login-banner-content
    {
        margin: 20%;
    }
}

@media screen and (max-width: 599px) {
    .login
    {
        .login-container {
            flex-direction: column;
        }

        .login-content{
            width: 100%;
        }

        .login-banner {
            width: 100%;
            flex-grow: 1;
        }
    }
}
