<div class="login-container">
    <div class="login-content padding-20">

        <div>
            <mat-icon svgIcon="app-logo" mat-list-icon></mat-icon> City Chain
        </div>

        <div class="padding-20">
            <br>
            <br>

            <button (click)="login" mat-stroked-button>Create</button> or
            <button (click)="login" mat-stroked-button color="primary">Restore</button>
            your account
        </div>
    </div>
    <div class="login-banner">
        <div class="login-banner-content">
            <h1>Welcome to
                <strong>City Chain</strong>
            </h1>

            <h3>Log in to access your account</h3>
        </div>
    </div>
</div>